*{
    font-family: 'Arvo', serif;
    margin: 0; /* To prevent white borders */
    padding: 0;
    text-align: center;
    font-size: 3vw; /* Responsive Text Size */
    scroll-behavior: smooth;

} 

/* Nav Bar */
.topbar{
    position: fixed;
    z-index: 2;
    width: 100%;
}
/* Nav Bar */

.banner{ 
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#banner1{
    height: 200vw; /* 450px */
    background-image: url("images/background_mobile.jpg");  
}

#banner2{
    height: 175vw; 
    background-image: url("images/profile_background.jpg");  
}

#banner3{
    height: 480vw; 
    background-color: #27578e;
}

#banner4{
    height: 300vw; 
    background-image: url("images/tuition/background.jpg");
}
#banner5{
    height: 220vw;
    background-image: url("images/blog/background.jpg")
}

#banner6{
    height: 160vm;
    background-color: #568cc9;
}



.slide{
    display:none;
}



#arrow {
    position: absolute;
    border-right:20px solid white;
    border-bottom:20px solid white;
    width:100px;
    height:100px;
    left: 35%;
    top: 150%;

    transform: rotate(-315deg) scale(0.3,0.3);
    filter: drop-shadow(0 0 10px rgb(124, 124, 124));
}

.banner-heading {
    position: absolute; 
    top: 40%;
    left: 0%;
    padding: 10px;
    padding: auto;
    color: white;
    text-shadow: 2px 2px 8px #ac9b9b;
    
}

.banner-heading2 {
    position: absolute; 
    top: 10%;
    left: 0%;
    padding: 15px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px #ac9b9b;
    
}

.banner-heading3 {
    position: absolute; 
    top: 0%;
    left: 4%;
    padding: 15px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px #ac9b9b;
    
}

.banner-heading4 {
    position: absolute; 
    top: 5%;
    left: 4%;
    padding: auto;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px #ac9b9b;
}




.banner-heading5 {
    position: absolute; 
    top: 5%;
    left: 0%;
    padding: auto;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px #ac9b9b;
    
}

.banner-heading6 {
    position: absolute; 
    top: 20%;
    left: 0%;
    padding: auto;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px #ac9b9b;
    
}


.hide{
    display: none;
    text-align: center;
    font-size: 100%;
}

.hovertext:hover + .hide {
  transition: scale(1.2);
  display: block;
}


.hoverexpand{
    transition: transform .2s;
}

.hoverexpand:hover{
    transform: scale(1.2);
}

#profile_pic{
    height: 40%;
    width: 40%;
}

/* Flex Box */
.stackrow{
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
    flex-wrap: wrap;

}
.stackimage{
    width: 22%;
    height: 22%;
}

.portfolioimage{
    width: 75%;
    height: 75%;
}

.portfoliomodal {
  width: 80%;
  height:80%;
}

.portfolioimage2 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  color: #000000;
  left: 5%;
}

.captionblock {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

.portfoliomodal:hover .portfolioimage2 {
  opacity: 0.5;
}

.portfoliomodal:hover .captionblock {
  opacity: 1;
}

.captiontext {
  text-align: center;
  font-size: 4.5vw;
  color: black;
  text-shadow: 2px 2px #747474;
}

.skillsetimage{
    width: 70%;
    height: 70%;
}
/* Flex Box */


/* Social Media Icons */
#sociallisting .fa {
  padding: 1vw;
  font-size: 7vw; 
  height: 9vw;
  width: 9vw;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

#sociallisting .fa:hover {
  opacity:0.7;
}

#sociallisting .fa-github {
  background-color: #000000;
  color: white;
}

#sociallisting .fa-linkedin {
  background-color: #0452aa;
  color: white;
}

#sociallisting .fa-instagram {
  background: #c20ac2;
  color: white;
}

#sociallisting .fa-reddit {
  background: #fc4604;
  color: white;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 20%;
}

